
body{
 width: 100%;   
}
h1{
    border:2px dashed red;
    }
a{
    color: red;
    font-size: 2rem;
}
a:hover{
    color: green;
}

div:hover p{
    display: block;
}
h3{
    display: none;
    background-color: green;
}

main{
    font-size: 30px;
}
main:hover h3{
    display: block;
}
.one::first-letterf, h1::first-letter{
    color: orange;
    font-size: 30px;
    background-color: blueviolet;

}
.two::first-line{
    color: red;
}
::marker {
    color: red;
}
::selection{
    color: rgb(81, 193, 26);
    background: orange;
}

div ~ p{
    color: red;
}